:root {
    background-image: url("../assets/images/backgrounds/alek-doodle-pilot-outro.png");
}

body {
    height: 100vh;
}

#alek-splash {
    display: flex;
    aspect-ratio: 1 / 1;
    height: 40%;
    object-fit: contain;
}