:root {
    background-image: url("../assets/images/alek-doodle-pilot-outro.png");
    background-size: contain;
}

html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 40%;
    min-width: 384px;
    height: 100vh;
    /* Items */
    align-items: center;
    justify-content: space-between;
}

.middle-container > * {
    width: 90%;
}

/* Title Container */

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Logo */

.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    aspect-ratio: 2 / 1;
    height: 12.5vh;
}


/* Separator */

.separator, .separator-invis {
    margin: 15px 0;
    height: 10px;
    border-radius: 50px;
}

.separator {
    background-color: white;

}

.separator-invis {
    background-color: transparent;
}

/* Navigation Bar */

.nav-container {
    display: flex;
    flex-direction: row;
    margin: 1.5vh 0%;
    /* Move items to center */
    justify-content: center;
}

.nav-button {
    width: 15vh;
    margin: 0 1vw;
    /* Debug color */
    /* background-color: red; */
}

.nav-icon {
    width: 100%;
}


/* Support Container */

.support-container {
    display: flex;
    flex-direction: column;
    
    /* align-items: flex-end; */
    justify-content: flex-end;
    /* Debug Color */
    /* background-color: red; */
}

.support-title {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh;
}

/* Socials Bar */
.socials-container {
    display: flex;
    flex-direction: row;
    /* Move items to center */
    justify-content: center;
}

.social-button {
    width: 5vh;
    /* Debug Color */
    /* background-color: red; */
    margin: 0 0.5vw;
}

.social-icon {
    aspect-ratio: 1/1;
    width: 100%;
}