@view-transition {
    navigation: auto;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

:root {
    background-color: black;
    background-size: contain;
}

html, body {
    margin: 0;
    color: white;
    /* height: 100%; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Utility Classes */

.hidden {
    display: none;
    visibility: hidden;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


/* Middle Container & Right Container */

.middle-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 40vw;
    min-width: 384px;
    height: 100%;
    
    /* Items */
    align-items: center;
    justify-content: space-between;
}

.middle-container > * {
    width: 80%;
}

.right-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    width: 35%;
    height: 80%;
    margin: 2.5%;
    padding: 2.5%;
    border-radius: 10%;
    /* Items */
    align-items: center;
    justify-content: space-between;
}

/* Title Container */

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Logo */

.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    aspect-ratio: 2 / 1;
    height: 12.5vh;
}


/* Separator */

.separator, .separator-full, .separator-invis, .separator-invis-full {
    margin: 15px 0;
    height: 10px;
    border-radius: 50px;
}

.separator {
    background-color: white;
    width: 75%;
}

.separator-full {
    background-color: white;
    width: 100%;
}

.separator-invis {
    background-color: transparent;
}

.separator-invis-full {
    background-color: transparent;
    width: 100%;
}

.gap-filler {
    width: 100%;
    height: 1px;
    flex-grow: 1;
}

/* Navigation Bar */

.nav-container {
    display: flex;
    flex-direction: row;
    margin: 1.5vh 0%;
    /* Move items to center */
    justify-content: center;
}

.nav-button {
    width: 8vw;
    margin: 0 1vw;
    /* Debug color */
    /* background-color: red; */
}

.nav-icon {
    width: 100%;
}

/* Back Button */

.back-button {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 6%;
    height: 6%;
    font-size: 1.75vw;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
}


/* Content Container */

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vw;
}

.description {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
}

.description-big {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;
}


/* Support Container */

.support-container {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: flex-end;
    /* Debug Color */
    /* background-color: red; */
}

.support-title {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh;
}

/* Socials Bar */
.socials-container {
    display: flex;
    flex-direction: row;
    /* Move items to center */
    justify-content: center;
    width: 50%;
}

.socials-container-portrait {
    display: flex;
    flex-direction: row;
    /* Move items to center */
    justify-content: center;
    width: 60%;
}

.social-button {
    width: 5vh;
    /* Debug Color */
    /* background-color: red; */
}

.social-icon {
    aspect-ratio: 1/1;
    width: 100%;
}


/* Copyright Container */
.copyright-container {
    text-align: center;
    font-size: x-small;
}