body {
    height: 100vh;
}

#tv {
    position: absolute;
    top: 25vh;
    aspect-ratio: 1 / 1;
    height: 256px;
}

.disc {
    position: fixed;
    bottom: 25%;
    width: 128px;
}

.disc:hover {
    cursor: grab;
}

.disc.active {
    cursor: grabbing;
}