:root {
    background-image: url("../assets/images/backgrounds/park-town-render.png");
    background-size: cover;
}

.middle-container {
    justify-content: space-between;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
}

.logo {
    aspect-ratio: 5/4;
}

.title {
    margin: 1vh 0;
}

.description {
    font-size: 2vh;
}

/* Text Highlighting */

#alek {
    color: #5737CF;
}

#qd {
    color: #145B9A;
}

#squiddo {
    color: #D4100F;
}

#doggie {
    color: #DB7737;
}

/* Pictures Container */

.pictures-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5vw;
}

.picture {
    width: 20%;
    cursor: pointer;
}


/* Chibi Container */

.support-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
}

.chibi-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    /* flex-grow: 1; */
    /* width: 100%; */
    height: 100%;
}

.chibi {
    height: 100%;
}

@media (max-width: 1080px) {
    html {
        height: 100dvh;
    }
    .nav-container {
        width: 100%;
        margin: 1vh 0%;
    }
    .nav-button {
        width: 20vh;
    }
    .middle-container {
        width: 100vw;
        height: 100dvh;
    }
    .title {
        font-size: 3vh;
    }
    .description {
        font-size: 2vh;
    }
    .separator {
        width: 90%;
    }
    .chibi {
        height: 14vw;
    }
    #home-image {
        width: 96px;
        height: 96px;
    }
}