body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 5%;
}

#code-input {
    background-color: black;
    color: white;
    border: 3px solid white;
    width: 5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    height: 2.5%;
    padding: 8px;
    text-align: center;
}

#code-input:focus {
    outline: none;
}

#submit-button {
    background-color: black;
    color: white;
    border: 3px solid white;
    width: 7%;
    height: 7%;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    cursor: pointer;
}

#soon {
    aspect-ratio: 16/4;
}