:root {
    background-image: url("../assets/images/backgrounds/episodes.png");
    background-size: cover;
}

.logo {
    aspect-ratio: 5/4;
}

.middle-container {
    justify-content: space-between;
    width: 50%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

/* Episodes Container */
#episodes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    gap: 0.5vw;
}

.episode {
    width: 9vw;
    border: 5px solid white;
    border-radius: 10px;
}

.episode:hover {
    cursor: pointer;
}


/* Chibi Container */

.support-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
}

.chibi-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.chibi {
    height: 100%;
}

#home-image {
    width: auto;
    aspect-ratio: 1/1;
    height: 100%;
    cursor: pointer;
}

@media (max-width: 1080px) {
    html {
        height: 100dvh;
    }
    .nav-container {
        width: 100%;
        margin: 1vh 0%;
    }
    .nav-button {
        width: 20vh;
    }
    .middle-container {
        width: 100vw;
        height: 100dvh;
    }
    .title {
        font-size: 4vh;
    }
    .description {
        font-size: 1.5vh;
    }
    .separator {
        height: 5px;
    }
    #episodes-container {
        width: 100%;
    }
    .episode {
        width: 23vw;
    }
    .chibi {
        height: 100%;
    }
    #home-image {
        height: 100%;
    }
}