:root {
    background-image: url("../assets/images/backgrounds/episodes.png");
    background-size: cover;
}

.logo {
    aspect-ratio: 5/4;
}

.middle-container {
    justify-content: space-between;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

/* Episodes Container */
#episodes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 0.5vw;
}

.episode {
    width: 9vw;
    border: 5px solid white;
    border-radius: 10px;
}

.episode:hover {
    cursor: pointer;
}


/* Chibi Container */

.support-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.chibi-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    flex-grow: 1;
}

.chibi {
    height: 10vh;
}

#home-button {
    width: 5vh;
}

/*
.social-button {
    width: 5vh;
}

.social-icon {
    aspect-ratio: 1/1;
    width: 100%;
}
*/

#home-image {
    aspect-ratio: 1/1;
    width: 100%;
}