body {
    height: 100vh;
}

.bg-image {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    aspect-ratio: 16 / 9;
    width: 100%;
    object-fit: contain;
}

.back-button {
    z-index: 3;
}

.interactable-container {
    position: relative;
    aspect-ratio: 16 / 9;
    width: 100%;
    margin: 0;
    padding: 0;
}


.interactable {
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: help;
    width: 2.5%;
    margin: 0;
    /* Comment background-color later */
    /* background-color: rgba(255, 0, 255, 0.5); */
}

.tooltip {
    display: none;
    position: absolute;
    aspect-ratio: 1/1;
    width: 10%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.larg-tooltip {
    aspect-ratio: auto;
    width: 40%;
    transform: translate(-94%, -44.5%);
}

.abandoned-tooltip {
    display: none;
    width: 0%;
}

.candy-store-tooltip {
    aspect-ratio: auto;
    width: 75%;
    transform: translate(-64%, -51%);
}

.gated-playground-tooltip {
    aspect-ratio: auto;
    width: 40%;
    transform: translate(-84%, -45%);
}

.playground-tooltip {
    aspect-ratio: auto;
    width: 40%;
    transform: translate(-82%, -44%);
}

.campfire-tooltip {
    aspect-ratio: auto;
    width: 40%;
    transform: translate(-18%, -71%);
}

.alek-qd-house-tooltip {
    aspect-ratio: auto;
    width: 35%;
    transform: translate(-31%, -18%);
}

.squiddo-doggie-house-tooltip {
    aspect-ratio: auto;
    width: 35%;
    transform: translate(-69%, -16%);
}


#home-image {
    position: fixed;
    bottom: 2.5%;
    width: 64px;
    cursor: pointer;
}

/* Interactable id's */


#abandoned-interactable {
    top: 21.25%;
    left: 14.5%;
    width: 2%;
    height: 2.25%;
    rotate: 15deg;
    cursor: pointer;
}

#larg-interactable {
    top: 49.1%;
    left: 60%;
    width: 1.6%;
    height: 3%;
}

#candy-store-interactable {
    top: 50%;
    left: 64.3%;
    width: 1.7%;
    height: 2.8%;
}

#campfire-interactable {
    top: 66%;
    left: 9.65%;
    width: 4.25%;
    height: 8.5%;
}

#hospital-interactable {
    display: none;
    top: 68%;
    left: 56.9%;
    width: 4.75%;
    height: 7.5%;
}

#gated-playground-interactable {
    top: 51%;
    left: 70.75%;
    width: 6.75%;
    height: 10%;
}

#mall-interactable {
    display: none;
    top: 70.5%;
    left: 83.5%;
    width: 7.5%;
    height: 6.5%;   
}

#playground-interactable {
    top: 27%;
    left: 59.8%;
    width: 5.75%;
    height: 10%;
}

#alek-qd-house-interactable {
    display: none;
    top: 18.25%;
    left: 61.15%;
    width: 1.5%;
    height: 2.5%;
}

#squiddo-doggie-house-interactable {
    /* display: none; */
    top: 18.25%;
    left: 62.9%;
    width: 1.55%;
    height: 2.5%;
}