.totally-body {
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15vw;
}

.spotlight-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.character-image {
    position: absolute;
    left: 17vw;
    width: 25vw;
    align-self: flex-end;
    margin-bottom: 8vh;
}

#alek-character, #qd-character { 
    width: 25vw;
}

#squiddo-character {
    left: 15vw;
    width: 28vw;
}

#doggie-character {
    left: 14vw;
}


#jake-character, #emily-character, #mike-character {
    left: 16vw;
    width: 28vw;
}

#alyson-character {
    width: 30vw;
    left: 15vw;
}

.right-container {
    z-index: 2;
}

.back-button {
    z-index: 3;
}

.fun-fact-button {
    background-image: url("../assets/images/navigation/info-icon.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    position: fixed;
    bottom: 2.5vh;
    left: 2.5vw;
    aspect-ratio: 1/1;
    width: 7.5vh;
    font-size: 1.75vw;
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    z-index: 3;
    transition: all 1s ease-in-out;
}

.fun-fact-button.active {
    background-image: none;
    width: 27.5%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.75);
}

.lake-button {
    aspect-ratio: 1/1;
    position: fixed;
    width: 2.5%;
    bottom: 0%;
    left: 50%;
    border: none;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 3;
}

@media (max-width: 1080px) {
    html {
        height: 100dvh;
    }

    .title {
        font-size: 4vw;
    }
    .description-big {
        font-size: 2.5vw;
    }

    .spotlight-overlay {
        position: absolute;
        left: -5vw;
        width: 125vh;
        height: 100vh;
        z-index: 1;
    }

    #alek-character, #qd-character {
        width: 37vh;
    }

    #squiddo-character, #doggie-character {
        width: 28vw;
    }

    #jake-character, #emily-character, #mike-character {
        width: 30vw;
    }

    #alyson-character {
        width: 32vw;
    }

    .right-container {
        z-index: 2;
    }
}